<ion-view view-title="About Us">
    <ion-nav-title view-title="" center>
        <div id="hometitle">JETUK - ACHARYA<img alt="logo" class="guru" height="40" src="img\AcharyaLogo.png"></div>

    </ion-nav-title>

    <div class="bar bar-subheader bar-assertive">
        <ul class="sub_nav">
            <li class="sub_nav"><a href="#" class="active">Home</a></li>
            <li class="sub_nav"><a ui-sref="app.event">Events & Alerts</a></li>
            <li class="sub_nav"><a href="https://jetuk.org/donations/">Donate</a></li>
            <li class="sub_nav"><a href="https://jetuk.org/live/">Live</a></li>
        </ul>
    </div>
    <ion-content class="navpage aboutus">
        <ion-list>
            <a href="#" class="viewall navheading">About Us</a>
        </ion-list>
        <p><img class="abtusimg" align="left" style="padding-right:10px;" src="img/jetlogo.jpg" width="100"></p>
        <p>JETUK is a registered charity (1139951) organization and chapter of JET(Jeeyar Educational Trust), ashram based in India, formed by Acharya Sri Chinna Jeeyar swamiji. JET is an Non-Profit organization which is committed to improving human lives
            through “Education, Service and Vedic knowledge”. For over three decades, we have been providing charitable and philanthropic services LOCALLY, NATIONALLY, and INTERNATIONALLY. JET has its global presence. Please visit our <a href="http://www.jetuk.org">website</a>            for more details.
        </p>
        <h2>Our vision:</h2>
        <p>To empower the impoverished communities across the world to have equal access and opportunities to quality education, healthcare, and self-confidence to live a life filled with dignity and pride.</p>
        <h2>Our Aims</h2>
        <ul>
            <li>To undertake activities in accordance with Vedic principles under the guidance of our acharya HH Chinna Jeeyar Swamy</li>
            <li>To organise seminars, educational camps, workshops and so on to advance our understanding of our religious principles and ethical values</li>
            <li>To promote and protect the physical and mental health of those affected by blindness or cancers</li>
            <li>To advance education by providing and assisting in the provision of facilities.</li>
            <li>To undertake activities to provide relief for those who may be affected by natural disasters.</li>
            <li>To provide opportunities for doing service through activities that benefit communities locally, nationally and globally.</li>
        </ul>
        </div>
        </section>
        </p>
    </ion-content>
</ion-view>


<ion-footer-bar align-title="center" class="bar-dark">
    <div class="buttons">

    </div>
    <h1 class="title footerrights" align-title="center">&copy All Rights Reserved, 2017 </h1>
    <a class="shareemail" href="mailto:info@jetuk.org?subject=ACHARYA - JETUK Mobile App&body=Namaste,%0A I just downloaded ACHARYA on my smart phone.%0A This is an one stop shop app for all needs of multilingual Discourses, offline functionality, Download feature of Devotional Audios and Slokas recitation, Videos, Ekadasi reminders, Calendar, and many other useful things to learn about our tradition.%0A
ACHARYA is available for iPhone, Android and Widows phone and more over it's FREE of cost.%0A You can get it now from htts://jetuk.org/ACHARYA. Or else you can reach on info@jetuk.org">Share</a>
    <div class="buttons" ng-click="doSomething()">

    </div>
</ion-footer-bar>