<ion-view view-title="About Us">
    <ion-nav-title view-title="" center>
        <div id="hometitle">ACHARYA<img alt="logo" class="guru" height="40" src="img\AcharyaLogo.png"></div>

    </ion-nav-title>

    <div class="bar bar-subheader bar-assertive">
        <ul class="sub_nav">
            <li class="sub_nav"><a ui-sref="app.home" class="active">Home</a></li>
            <li class="sub_nav"><a ui-sref="app.event">Events & Alerts</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/donations/')">Donate</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/live/')">Live</a></li>
        </ul>
    </div>
    <ion-content class="navpage aboutus">
        <ion-list>
            <a ui-sref="app.home" class="viewall navheading">Jeeyar Gurukulam, Allampalli</a>
        </ion-list>
        <p>
            <img src="img/allampalli-home-slider1.jpg" width="100%" />
            <br/>
            <ul style="text-align: justify;">
                <li>Jeeyar Gurukulam in Allampalli established in a remote forest, 10 km from the Main Road is the first Jeeyar Gurukulam school. It was inaugurated on January 26th, 2004.</li>
                <li>Free boarding and accommodation is provided to the underprivileged, low socio economic children. Free food & education along with uniforms, books, pencils, school bags and other educational materials are provided to all students.</li>
                <li>Education with modern electronic aids using projectors, models, prototypes is imparted to the students. Familiarity with the computers, and method of using the computers and its technologies are also taught to the students. 579 students
                    are studying in this gurukulam as of Apr 2017. <a href="#" ng-click="openUrl('http://schools.vtsbharath.org/about-allampally/')">Read More....</a></li>
            </ul>
            <br/>
            <img src="img/Guru1.jpg" width="100%" />
            <br/>
            <div style="text-align: center">
                <a href="#" ng-click="openUrl('http://www.jetuk.org/donations')"><img class="jetuk-button" style="background-color:white" src="img\DoanteNow.png" /></a>
            </div>
        </p>
    </ion-content>
</ion-view>
<ion-footer-bar align-title="center " class="bar-dark ">
    <div class="buttons ">
    </div>
    <a class="shareemail " ui-sref="app.share">Share</a>
    <span style="padding-top: 5px;">&nbsp;     JETUK &copy All Rights Reserved, 2017 </span>
    <div class="buttons" ng-click="doSomething()">
    </div>
</ion-footer-bar>