<ion-view view-title="About Us">
    <ion-nav-title view-title="" center>
        <div id="hometitle">ACHARYA<img alt="logo" class="guru" height="40" src="img\AcharyaLogo.png"></div>

    </ion-nav-title>

    <div class="bar bar-subheader bar-assertive">
        <ul class="sub_nav">
            <li class="sub_nav"><a ui-sref="app.home" class="active">Home</a></li>
            <li class="sub_nav"><a ui-sref="app.event">Events & Alerts</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/donations/')">Donate</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/live/')">Live</a></li>
        </ul>
    </div>
    <ion-content class="navpage aboutus">
        <ion-list>
            <a ui-sref="app.home" class="viewall navheading">Jeeyar Gurukulam, Beersaipet</a>
        </ion-list>
        <p>
            <img src="img/birsaipeta-building.jpg" width="100%" />
            <br/>
            <ul style="text-align: justify;">
                <li>In continuation with the Allampalli project, a Jeeyar Gurukulam school was established at Beersaipeta in Utnur Mandal of Adilabad District. Utnur is a nearby small village which is about 12 km away. The school began with 108 students during
                    2005 in thatched huts.</li>
                <li>With the help of philanthropists, a school building was constructed and inaugurated on 27 July 2007 with science lab, computer lab, library and spacious classrooms.</li>
                <li>Free Food, Education, Study Material, Clothing and Health Care are provided for all these children. 302 students are studying in this gurukulam as of Apr 2017. <a href="#" ng-click="openUrl('http://schools.vtsbharath.org/about-birsaipeta/')">Read More....</a></li>
            </ul>
            <br/>
            <img src="img/Guru2.jpg" width="100%" />
            <br/>
            <div style="text-align: center">
                <a href="#" ng-click="openUrl('http://www.jetuk.org/donations')"><img class="jetuk-button" style="background-color:white" src="img\DoanteNow.png" /></a>
            </div>
        </p>
    </ion-content>
</ion-view>
<ion-footer-bar align-title="center " class="bar-dark ">
    <div class="buttons ">
    </div>
    <a class="shareemail " ui-sref="app.share">Share</a>
    <span style="padding-top: 5px;">&nbsp;     JETUK &copy All Rights Reserved, 2017 </span>
    <div class="buttons" ng-click="doSomething()">
    </div>
</ion-footer-bar>