<ion-view view-title="About Us">
    <ion-nav-title view-title="" center>
        <div id="hometitle">ACHARYA<img alt="logo" class="guru" height="40" src="img\AcharyaLogo.png"></div>

    </ion-nav-title>

    <div class="bar bar-subheader bar-assertive">
        <ul class="sub_nav">
            <li class="sub_nav"><a ui-sref="app.home" class="active">Home</a></li>
            <li class="sub_nav"><a ui-sref="app.event">Events & Alerts</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/donations/')">Donate</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/live/')">Live</a></li>
        </ul>
    </div>
    <ion-content class="navpage aboutus">
        <ion-list>
            <a href="#" class="viewall navheading">Vedic Schools</a>
        </ion-list>
        <div class="card rnd-image-btns">
            <ion-card class="page_servicecard">
                <a ui-sref="app.gunturvedicschool" class="removeUnderline">
                    
                    <ion-card-content>
                            <img src="img/sita-20.png" width="150px"/>
                        <p>JET Vedic Uni, Guntur</p>
                    </ion-card-content>
                </a>
            </ion-card>
            <ion-card class="page_servicecard">
                <a ui-sref="app.vishakapatnamvedicschool" class="removeUnderline">
                    
                    
                    <ion-card-content>
                            <img src="img/varija-20.png" width="150px">
                        <p>VARIJA, Vishakapatnam</p>
                    </ion-card-content>
                </a>
            </ion-card>
            <ion-card class="page_servicecard">
                <a ui-sref="app.karimnagarvedicschool" class="removeUnderline">
                    
                    <ion-card-content>
                            <img src="img/veda-20.png" width="150px">
                        <p>VEDABHAVAN, Karimnagar</p>
                    </ion-card-content>
                </a>
            </ion-card>
            <ion-card class="page_servicecard">
                <a ui-sref="app.shamsabadvedicschool" class="removeUnderline">
                    
                    <ion-card-content>
                            <img src="img/Srirama-round.png" width="150px">
                        <p>JIVA, <br/>Shamshabad</p>
                    </ion-card-content>
                </a>
            </ion-card>
        </div>

        <div style="text-align: center">
            <a href="#" ng-click="openUrl('http://www.jetuk.org/donations')"><img class="jetuk-button" style="background-color:white" src="img\DoanteNow.png" /></a>
        </div>
    </ion-content>
</ion-view>
<ion-footer-bar align-title="center " class="bar-dark ">
    <div class="buttons ">
    </div>
    <a class="shareemail " ui-sref="app.share">Share</a>
    <span style="padding-top: 5px;">&nbsp;     JETUK &copy All Rights Reserved, 2017 </span>
    <div class="buttons" ng-click="doSomething()">
    </div>
</ion-footer-bar>