<ion-view view-title="About Us">
    <ion-nav-title view-title="" center>
        <div id="hometitle">ACHARYA<img alt="logo" class="guru" height="40" src="img\AcharyaLogo.png"></div>

    </ion-nav-title>

    <div class="bar bar-subheader bar-assertive">
        <ul class="sub_nav">
            <li class="sub_nav"><a ui-sref="app.home" class="active">Home</a></li>
            <li class="sub_nav"><a ui-sref="app.event">Events & Alerts</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/donations/')">Donate</a></li>
           <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/live/')">Live</a></li>
        </ul>
    </div>
    <ion-content class="navpage aboutus">
        <ion-list>
            <a href="#" class="viewall navheading">Bhakthi Nivedana</a>
        </ion-list>
        <p>
            Bhakthi Nivedana, One of the longest running spiritual magazines of India since April 1947.
        </p>
        <p>In the past and present, there is no dearth to the magazines dedicated to serving the material needs of people. But no magazine could be found to cater to the spiritual needs of all categories of people like children, youth, old, women alike.
            Foreseeing the needs for this, H.H. Sri Sri Sri Tridandi Srimannarayana Ramanuja Jeeyar Swamiji started the magazine in April 1947, with a divine vision to have a magazine that can cater to the spiritual needs of all the people in the society.
            Since then, this monthly spiritual magazine has been running continuously.</p>
        <p>Under the stalwart and most able editorship of Sriman U.Ve. Gopalacharya Swamy varu and the sub-editorship of Sriman Gudimella Ramanujacharya (popularly revered as “kavi” garu) , the magazine quickly became very popular and quenched the spiritual
            thirst of thousands of devotees in India.</p>
        <p>The magazine is available in English and Telugu. </p>
        <div style="text-align: center"><a href="#" ng-click="openUrl('http://bhakthinivedana.com/')"><button class="jetuk-button button2">Subscribe</button></a></div>
    </ion-content>
    <ion-footer-bar align-title="center " class="bar-dark ">
        <div class="buttons ">
        </div>
        <a class="shareemail " ui-sref="app.share">Share</a>
        <span style="padding-top: 5px;">&nbsp;     JETUK &copy All Rights Reserved, 2017 </span>
        <div class="buttons" ng-click="doSomething()">
        </div>
    </ion-footer-bar>
</ion-view>