<ion-view view-title="Browse">
    <ion-nav-title view-title="" center>
        <div id="hometitle">EVENTS<img alt="logo" class="guru" height="40" src="img\AcharyaLogo.png"></div>

    </ion-nav-title>  
  <ion-content>
    
    <ion-refresher on-refresh="doRefresh()">
                     
      </ion-refresher>
	<ion-list class="eventList" ng-repeat="event in eventList">
            <div class="card">
                <ion-item>
                    <div class="video-container ">
                        
                        <p style="text-align: center"><h4>{{event.title}}</h4></p>
                        <img src="{{ event.enclosure.url  }}" width="100% ">
						<p style="text-align: center">{{event.description}}</p>
						<a href="{{ event.link }}">{{event.link}}</a>
                    </div>
                </ion-item>
            </div>
        </ion-list>
  </ion-content>
</ion-view>
