<ion-view view-title="About Us">
    <ion-nav-title view-title="" center>
        <div id="hometitle">ACHARYA<img alt="logo" class="guru" height="40" src="img\AcharyaLogo.png"></div>

    </ion-nav-title>

    <div class="bar bar-subheader bar-assertive">
        <ul class="sub_nav">
            <li class="sub_nav"><a href="#" class="active">Home</a></li>
            <li class="sub_nav"><a ui-sref="app.event">Events & Alerts</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/donations/')">Donate</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/live/')">Live</a></li>
        </ul>
    </div>
    <ion-content class="navpage aboutus">
        <div class="item">
            <div><span  class="viewall navheading">{{title}} </span>
            
            </div>    <!-- <ion-select id="lang-select" on-change="onlanguageChange">
                <ion-option value="en">English</ion-option>
                <ion-option value="ta">Tamil</ion-option>
                <ion-option value="te">Telugu</ion-option>
            </ion-select> -->
           
           
        <div >
        <div class="item-text-wrap">
            <ion-list class="eventList" ng-repeat="event in selectedItem">
                <ion-item class="eventItem">
                    <div>
                    <iframe ng-src="{{event.link}}" frameborder="0 " width="100%" height="200px" allowfullscreen></iframe>
                         
                         
                            <span>{{event.title}}</span>
                        </div>
                </ion-item>  
                
            </ion-list>
        </div>
        </div>   
        
        
        
        </div>
    </ion-content>
    <ion-footer-bar align-title="center " class="bar-dark ">
        <div class="buttons ">
        </div>

        <a class="shareemail " ui-sref="app.share">Share</a>
        <span style="padding-top: 5px;">&nbsp;     JETUK &copy All Rights Reserved, 2017 </span>
        <div class="buttons" ng-click="doSomething()">
        </div>
    </ion-footer-bar>
</ion-view>