<ion-view view-title="About Us">
    <ion-nav-title view-title="" center>
        <div id="hometitle">JETUK<img alt="logo" class="guru" height="40" src="img\swamy.jpg"></div>

    </ion-nav-title>

    <div class="bar bar-subheader bar-assertive">
        <ul class="sub_nav">
            <li class="sub_nav"><a ui-sref="app.home" class="active">Home</a></li>
            <li class="sub_nav"><a href="templates/event.html">Events & Alerts</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/donations/')">Donate</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/live/')">Live</a></li>
        </ul>

    </div>

    <ion-content class="navpage">
        <ion-list>
            <a href="#" class="viewall navheading">FAQs</a>
        </ion-list>
        <div class="faqs">
            <ul>
                <ol><span>Who is jeeyar Swamy?</span><br>His Holiness Chinna Srimannarayana Jeeyar Swamy is seer (ascetic). He has been ordained [chose the holy path] at a very young age when he was in his early 20s. Swamyji succeeded HH Srimannarayana Jeeyar
                    swamy varu [sometimes referred to simply as Jeeyar Swamy varu or Pedda Jeeyar Swamy varu]</ol>
                <ol><span>What is the lineage or tradition followed by Jeeyar Swamy?</span><br>Swamy belongs to the Visishta-advaita school or lineage expounded by great Vaishnava scholar Ramanuja a seer and reformer who lived in the eleventh century [1017-1137CE]</ol>
                <ol><span>Can anyone join JETUk?</span><br>We always welcome those who are interested in service activities that we undertake. Contributions and participation are possible and essential to help us achieve what we want to do.</ol>
                <ol><span>Will swamiji visit UK?</span><br>Swamyji is a well-wisher of all devotees wherever they may be. There are always demands on his time from various quarters. If adequate number of us join together and request, Swamyji will try to accommodate
                    our request and will try to visit UK to bless us and also inspire us to know more about the message of Vedas and Upanishads to lead a good a virtuous life with an attitude of helping each other. Please keep checking this website for
                    information of any forthcoming visits</ol>
                <ol><span>What kind of support do you provide to the blind school?</span><br>The school is within the JIVA campus and there are dedicated staff members working there to provide a good quality education including computer literacy and ICT skills
                    to all the blind children. Any financial help we can provide will help in running the school or buying learning materials and resources and giving scholarships to children from families that cannot afford to spend on education.</ol>
                <ol><span>Do you accept only large donations?</span><br>Any amount that is given with a feeling of compassion is welcome.</ol>
                <ol><span>What are the various schemes for which a donation can be given?</span><br>Jeeyar Educational Trust has established a number of activities. The various examples include:<br> (a) Educational activities such as the Vedic schools in
                    Sita Nagaram and JIVA.<br> (b) School for the visually challenge.<br> (c) Annadhanam [serving food to one and all] at Badrinath in the lower Himalayas<br> (d) Medical camps in rural areas in India where health facilities do not exist.<br>                    (e) Cancer screening camps for early detection of cancer.<br> Those interested can donate to any specific activity they wish to sponsor.</ol>
            </ul>
        </div>
    </ion-content>
</ion-view>


<ion-footer-bar align-title="center " class="bar-dark ">
    <div class="buttons ">
    </div>
    <a class="shareemail " ui-sref="app.share">Share</a>
    <span style="padding-top: 5px;">&nbsp;     JETUK &copy All Rights Reserved, 2017 </span>
    <div class="buttons" ng-click="doSomething()">
    </div>
</ion-footer-bar>