<ion-view view-title="About Us">
    <ion-nav-title view-title="" center>
        <div id="hometitle">ACHARYA<img alt="logo" class="guru" height="40" src="img\AcharyaLogo.png"></div>

    </ion-nav-title>

    <div class="bar bar-subheader bar-assertive">
        <ul class="sub_nav">
            <li class="sub_nav"><a ui-sref="app.home" class="active">Home</a></li>
            <li class="sub_nav"><a ui-sref="app.event">Events & Alerts</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/donations/')">Donate</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/live/')">Live</a></li>
        </ul>
    </div>
    <ion-content class="navpage aboutus">
        <ion-list>
            <a href="#" class="viewall navheading">Birth Based Telugu Slokas</a>
        </ion-list>
        TELUGU
    </ion-content>
</ion-view>


<ion-footer-bar align-title="center" class="bar-dark">
    <div class="buttons">

    </div>
    <h1 class="title footerrights" align-title="center">&copy All Rights Reserved, 2017 </h1>
    <a class="shareemail" href="mailto:info@jetuk.org?subject=ACHARYA - JETUK Mobile App&body=Namaste,%0A I just downloaded ACHARYA on my smart phone.%0A This is an one stop shop app for all needs of multilingual Discourses, offline functionality, Download feature of Devotional Audios and Slokas recitation, Videos, Ekadasi reminders, Calendar, and many other useful things to learn about our tradition.%0A
ACHARYA is available for iPhone, Android and Widows phone and more over it's FREE of cost.%0A You can get it now from htts://jetuk.org/ACHARYA. Or else you can reach on info@jetuk.org">Share</a>
    <div class="buttons" ng-click="doSomething()">

    </div>
</ion-footer-bar>
<rating ng-model="ratingFull.rate" max="ratingFull.max"></rating>
</div>
<div class="input-field">
    <label class="subject" for="">Subject</label>
    <input type="text" id="sub" class="validate" ng-model="ctrl.formdata.email">
</div>
</div>
<div class="input-field">
    <label for="textarea" class="desctext">Your message here...</label>
    <textarea id="textarea" class="materialize-textarea feedbackdesc" ng-model="ctrl.formdata.text"></textarea>
</div>
<input type="submit" id="submit" value="Submit" class="button button-block teal lighten-2 white-text">
</div>
</form>
</div>
</div>
</div>
</ion-content>

</ion-view>


<ion-footer-bar align-title="center" class="bar-dark">
    <div class="buttons">

    </div>
    <h1 class="title footerrights" align-title="center">&copy All Rights Reserved, 2017 </h1>
    <a class="shareemail" ui-sref="app.share">Share</a>
    <div class="buttons" ng-click="doSomething()">

    </div>
</ion-footer-bar>