<ion-view view-title="About Us">
    <ion-nav-title view-title="" center>
        <div id="hometitle">ACHARYA<img alt="logo" class="guru" height="40" src="img\AcharyaLogo.png"></div>

    </ion-nav-title>

    <div class="bar bar-subheader bar-assertive">
        <ul class="sub_nav">
            <li class="sub_nav"><a ui-sref="app.home" class="active">Home</a></li>
            <li class="sub_nav"><a ui-sref="app.event">Events & Alerts</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/donations/')">Donate</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/live/')">Live</a></li>
        </ul>
    </div>
    <ion-content class="navpage aboutus">
        <ion-list>
            <a href="#" class="viewall navheading">Gosala</a>
        </ion-list>

        <p><img class="abtusimg" src="img/home-serv-gosala.png" align="left" style="padding-right:10px;" width="100"></p>
        <p>
            <b>PROTECT COW. <br/>PROTECT MOTHER EARTH.</b>
        </p>
        <p style="text-align: justify">
            Since 1984, 400+ cows have been taken cared for at 3 gosalas in different locations.
            <ul style="text-align: justify">
                <h5 style="padding-left: 5px;">Our goals are</h5>
                <li>Saving the indigenous breeds
                </li>
                <li>Protect the old and neglected cows</li>
                <li>Encourage the use of organic products (Deerghayuvu)</li>
                <li>Spreading importance of cow & cow products</li>
            </ul>
            <img src="img\serv-gosala.png" width="100%" />
        </p>
        <p style="text-align: justify">
            <ul>
                <h5 style="padding-left: 5px;">Benefits of Cow & Cow Products:</h5>
                <li>Cow urine and dung increases the soil fertility</li>
                <li>Cow based products increases lifespan & promote good health</li>
                <li>Industries are using panchagavyas (Milk, Yoghurt, Ghee, Cow urine, Cow dung) for manufacturing cosmetic products.</li>
                <li>Cow plays a big role in pollution reduction & environment protection</li>
            </ul>
            <br/>
            <ul>
                <h5 style="padding-left: 5px;">Our cow products:</h5>
                <li>Deerghayuvu Go:rasam - Best medicine for many diseases </li>
                <li>Deerghayuvu Shampoo - Removes hair fall and dandruff </li>
                <li>Deerghayuvu Toothpowder - Cures gum swelling, toothache, and tooth decay </li>
                <li>Deerghayuvu Charma Rakshaka - Prevents allergies and rashes</li>
                <li>Deerghayuvu Facepack - Cures pimples, spots and conditions the skin</li>
            </ul>
            <br/>
            <ul>
                You can protect by doing any of the following:
                <li>Go:pu:ja</li>
                <li>Go:da:nam</li>
                <li>Donate Green grass (Go:grassam)</li>
                <li>Cover medical expenses</li>
            </ul>
        </p>
        <p style="text-align: justify"><b>Go:puja</b> means worshipping Go:ma:tha (cow) along with her calf. Go:puja fulfills the wishes and removes hardships of the devotee who performs it. <br/><br/><b>Go:da:nam</b> means donating a cow (Go:ma:tha) along with her calf. Go:da:nam
            liberates the donor and his forefathers from the sins committed knowingly or unknowingly in their lives. It bestows heavenly comforts on the donor.
            <ul>
                <h5 style="padding-left: 5px;">Get involved in our Gosala by:</h5>
                <li>Feeding the cows</li>
                <li>Cleaning them</li>
                <li>Milking them</li>
                <li>Health Care</li>
            </ul>
        </p>
        <div style="text-align: center"><a href="#" ng-click="openUrl('http://chinnajeeyar.guru/gosala')">
            <button class="jetuk-button button2">Visit Gosala</button></a></div>

        <div style="text-align: center">
            <a href="#" ng-click="openUrl('http://www.jetuk.org/donations')"><img class="jetuk-button" style="background-color:white" src="img\DoanteNow.png" /></a>
        </div>
    </ion-content>
</ion-view>
<ion-footer-bar align-title="center " class="bar-dark ">
    <div class="buttons ">
    </div>
    <a class="shareemail " ui-sref="app.share">Share</a>
    <span style="padding-top: 5px;">&nbsp;     JETUK &copy All Rights Reserved, 2017 </span>
    <div class="buttons" ng-click="doSomething()">
    </div>
</ion-footer-bar>