<ion-view view-title="About Us">
    <ion-nav-title view-title="" center>
        <div id="hometitle">ACHARYA<img alt="logo" class="guru" height="40" src="img\AcharyaLogo.png"></div>

    </ion-nav-title>

    <div class="bar bar-subheader bar-assertive">
        <ul class="sub_nav">
            <li class="sub_nav"><a ui-sref="app.home" class="active">Home</a></li>
            <li class="sub_nav"><a ui-sref="app.event">Events & Alerts</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/donations/')">Donate</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/live/')">Live</a></li>
        </ul>
    </div>
    <ion-content class="navpage aboutus">
        <ion-list>
            <a href="#" class="viewall navheading">Gurukulams</a>
        </ion-list>

        <p><img class="abtusimg" src="img/home-serv-gurukulams.png" align="left" style="padding-right:10px;" width="100"></p>
        <p><b>A RAY OF HOPE FOR THE UNDERPRIVILEGED</b></p>
        <p style="text-align: justify;">The only schools providing quality and value based education, to the neglected and forgotten. A holistic educational experience bringing a change in thousands of lives. </p>
        <p>
            <b>With your Support the kids can do wonders! A small step from your side will change their life.</b>
        </p>
        <p style="text-align: justify;">Our #1 priority is the children’s future. We believe in our efforts and conduct our schools to the highest standards. We truly appreciate your support in helping the forgotten children realize their dreams. Jeeyar Gurukulams constantly work on
            improving and improvising new methods of teaching. Your suggestions are most welcome. Be a part of this effort and enjoy the happiness of serving!</p>

        <br/>
        <img src="img/gurukulams.jpg" width="100%" />
        <br/>

        <div style="text-align: center"><a href="#/app/allgurukulams"><button class="jetuk-button button2">Our Gurukulams</button></a></div>

        <div style="text-align: center">
            <a href="#" ng-click="openUrl('http://www.jetuk.org/donations')"><img class="jetuk-button" style="background-color:white" src="img\DoanteNow.png" /></a>
        </div>
    </ion-content>
</ion-view>
<ion-footer-bar align-title="center " class="bar-dark ">
    <div class="buttons ">
    </div>
    <a class="shareemail " ui-sref="app.share">Share</a>
    <span style="padding-top: 5px;">&nbsp;     JETUK &copy All Rights Reserved, 2017 </span>
    <div class="buttons" ng-click="doSomething()">
    </div>
</ion-footer-bar>