<ion-view view-title="About Us">
    <ion-nav-title view-title="" center>
        <div id="hometitle">ACHARYA<img alt="logo" class="guru" height="40" src="img\AcharyaLogo.png"></div>

    </ion-nav-title>

    <div class="bar bar-subheader bar-assertive">
        <ul class="sub_nav">
            <li class="sub_nav"><a ui-sref="app.home" href="#" class="active">Home</a></li>
            <li class="sub_nav"><a ui-sref="app.event">Events & Alerts</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/donations/')">Donate</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/live/')">Live</a></li>
        </ul>
    </div>
    <ion-content class="navpage aboutus">
        <ion-list>
            <a href="#" class="viewall navheading">General Health, Dental & Eye camps</a>
        </ion-list>
        <ul>
            <li>We recognize that a family and society cannot be economically healthy unless they are physically healthy.</li>
            <li>VTS conducts numerous health care camps and projects and works towards the goal of improving the physical health of those who otherwise cannot afford health care.</li>
        </ul>
        <p>
            <h5 style="text-align: center"><b>SUPPORT US BY SPONSORING</b>
            </h5>
            <ul>
                <li>A camp (Survey, Test, Medication, Second Survey and follow up)</li>
                <li>Medicines</li>
                <li>Equipment (Sterlization, Bins, Savlon, Green cloths, Gloves etc)</li>
                <li>Health pamphlets</li>
                <li>A Vehicle</li>
            </ul>
            <img src="img\health-serv-generalcamp-1.png" width="100%" />
            <img src="img\health-serv-generalcamp-2.png" width="100%" />
            <div style="text-align: center">
                <a href="#" ng-click="openUrl('http://www.jetuk.org/donations')"><img class="jetuk-button" style="background-color:white" src="img\DoanteNow.png" /></a>
            </div>
        </p>

    </ion-content>
</ion-view>
<ion-footer-bar align-title="center " class="bar-dark ">
    <div class="buttons ">
    </div>
    <a class="shareemail " ui-sref="app.share">Share</a>
    <span style="padding-top: 5px;">&nbsp;     JETUK &copy All Rights Reserved, 2017 </span>
    <div class="buttons" ng-click="doSomething()">
    </div>
</ion-footer-bar>