<ion-view view-title="About Us">
    <ion-nav-title view-title="" center>
        <div id="hometitle">ACHARYA<img alt="logo" class="guru" height="40" src="img\AcharyaLogo.png"></div>

    </ion-nav-title>

    <div class="bar bar-subheader bar-assertive">
        <ul class="sub_nav">
            <li class="sub_nav"><a ui-sref="app.home" class="active">Home</a></li>
            <li class="sub_nav"><a ui-sref="app.event">Events & Alerts</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/donations/')">Donate</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/live/')">Live</a></li>
        </ul>
    </div>
    <ion-content class="navpage aboutus">
        <ion-list>
            <a href="#" class="viewall navheading">JIMS Hospital, Shamshabad</a>
        </ion-list>
        <p><img class="abtusimg" src="img/home-serv-health.png" align="left" style="padding-right:10px;" width="100"></p>
        <p style="text-align: justify">
            JIMS (Jeeyar Integrative Medical Services), a not for profit organization operates on a patient centric integrative model providing comprehensive primary care at affordable cost. <br/><br/><b>Our motto is to provide access to affordable quality care to needy, using Integrative medical services.</b>
            <ul style="text-align: justify">
                <li>Holistic medical care as Homeopathy, Ayurvedic and Allopathy medicines all under one roof.
                </li>
                <li> Till date conducted 101,606 General Health Camps, 900+ Eye Camps, 1000+ Dental Camps and 568+ Women welfare camps to fight against cancer for Women.</li>
            </ul>
            <img src="img\JIMS.png " width="100%" />
        </p>
        <div style="text-align: center"><a ui-sref="app.allhealthservices"><button class="jetuk-button button2">Our Health Services</button></a></div>

        <div style="text-align: center"><a href="#" ng-click="openUrl('http://jimshospital.org')"><button class="jetuk-button button2">Visit JIMS Hospital</button></a></div>

        <div style="text-align: center">
            <a href="#" ng-click="openUrl('http://www.jetuk.org/donations')"><img class="jetuk-button" style="background-color:white" src="img\DoanteNow.png" /></a>
        </div>
    </ion-content>
</ion-view>
<ion-footer-bar align-title="center " class="bar-dark ">
    <div class="buttons ">
    </div>
    <a class="shareemail " ui-sref="app.share">Share</a>
    <span style="padding-top: 5px;">&nbsp;     JETUK &copy All Rights Reserved, 2017 </span>
    <div class="buttons" ng-click="doSomething()">
    </div>
</ion-footer-bar>