<ion-view view-title="About Us">
    <ion-nav-title view-title="" center>
        <div id="hometitle">ACHARYA<img alt="logo" class="guru" height="40" src="img\AcharyaLogo.png"></div>

    </ion-nav-title>

    <div class="bar bar-subheader bar-assertive">
        <ul class="sub_nav">
            <li class="sub_nav"><a ui-sref="app.home" class="active">Home</a></li>
            <li class="sub_nav"><a ui-sref="app.event">Events & Alerts</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/donations/')">Donate</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/live/')">Live</a></li>
        </ul>
    </div>
    <ion-content class="navpage aboutus">
        <ion-list>
            <a href="#" class="viewall navheading">Women Health Care - Fight against cancer</a>
        </ion-list>
        <ul>
            <li>568+ FREE camps were organised, and 200,000 educated and still counting. </li>
            <li> Free medical camps are set up in remote locations to create awareness. Tests are done with utmost care and confidentiality.
            </li>
        </ul>
        <p>
            <img src="img\health-serv-womencamp-1.png" width="100%" />
            <img src="img\health-serv-womencamp-2.png" width="100%" />
            <div style="text-align: center">
                <a href="#" ng-click="openUrl('http://www.jetuk.org/donations')"><img class="jetuk-button" style="background-color:white" src="img\DoanteNow.png" /></a>
            </div>
        </p>
    </ion-content>
</ion-view>
<ion-footer-bar align-title="center " class="bar-dark ">
    <div class="buttons ">
    </div>
    <a class="shareemail " ui-sref="app.share">Share</a>
    <span style="padding-top: 5px;">&nbsp;     JETUK &copy All Rights Reserved, 2017 </span>
    <div class="buttons" ng-click="doSomething()">
    </div>
</ion-footer-bar>