<ion-view view-title="JETUK">
    <ion-nav-title view-title="" center>
        <div id="hometitle">ACHARYA<img alt="logo" class="guru" height="40" src="img\AcharyaLogo.png"></div>

    </ion-nav-title>
    
    <div class="bar bar-subheader bar-assertive">
        <ul class="sub_nav">
            <li class="sub_nav"><a href="#" class="active">Home</a></li>
            <li class="sub_nav"><a ui-sref="app.event">Events & Alerts</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/donations/')">Donate</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/live/')">Live</a></li>
        </ul>
    </div>
    <ion-content class="has-header">
            
            <img src="https://jetuk.org//ach/home.jpg" style="margin-top: 38px;" width="100%" />
            <div class="card">
                <h2 class="heading_title ">Utilities</h2>
                <ion-card class="servicecard ">
                    <a ui-sref="app.prajna">
                        <img src="img/home-util-prajna.png" width="100% ">
                        <ion-card-content>
                            <p>Prajna</p>
                        </ion-card-content>
                    </a>
                </ion-card>
                <ion-card class="servicecard ">
                    <a ui-sref="app.ekadasidates">
                        <img src="img/home-util-ekadasi.png" width="100% ">
                        <ion-card-content>
                            <p>Ekadasi</p>
                        </ion-card-content>
                    </a>
                </ion-card>
                <ion-card class="servicecard ">
                    <a ui-sref="app.slokas">
                        <img src="img/home-util-slokas.png" width="100% ">
                        <ion-card-content>
                            <p>Slokas</p>
                        </ion-card-content>
                    </a>
                </ion-card>
                <ion-card class="servicecard ">
                    <a ui-sref="app.panchangam">
                        <img src="img/home-util-calendar.png" width="100% ">
                        <ion-card-content>
                            <p>Panchangam</p>
                        </ion-card-content>
                    </a>
                </ion-card>
                <ion-card class="servicecard ">
                    <a ui-sref="app.starbirth">
                        <img src="img/home-util-sbslokas.png" width="100% ">
                        <ion-card-content>
                            <p>Star based slokas</p>
                        </ion-card-content>
                    </a>
                </ion-card>
                <ion-card class="servicecard ">
                    <a ui-sref="app.discourses">
                        <img src="img/home-util-discourses.png" width="100% ">
                        <ion-card-content>
                            <p>Discourses</p>
                        </ion-card-content>
                    </a>
                </ion-card>
                <ion-card class="servicecard ">
                    <a ui-sref="app.songs">
                        <img src="img/home-util-songs.png" width="100% ">
                        <ion-card-content>
                            <p>Songs</p>
                        </ion-card-content>
                    </a>
                </ion-card>
                <ion-card class="servicecard ">
                    <a ui-sref="app.event">
                        <img src="img/home-util-events.png" width="100% ">
                        <ion-card-content>
                            <p>Events</p>
                        </ion-card-content>
                    </a>
                </ion-card>
                <ion-card class="servicecard ">
                    <a ui-sref="app.videos">
                        <img src="img/home-util-videos.png" width="100% ">
                        <ion-card-content>
                            <p>Videos</p>
                        </ion-card-content>
                    </a>
                </ion-card>
            </div>
            </div>
            <div class="card">
                <h2 class="heading_title ">Services</h2>
                <ion-card class="servicecard ">
                    <a ui-sref="app.healthservices">
                        <img src="img/home-serv-health.png" width="100% ">
                        <ion-card-content>
                            <p>Health Services</p>
                        </ion-card-content>
                    </a>
                </ion-card>
                <ion-card class="servicecard ">
                    <a ui-sref="app.vedicschools">
                        <img src="img/home-serv-vedic.png" width="100% ">
                        <ion-card-content>
                            <p>Vedic Schools</p>
                        </ion-card-content>
                    </a>
                </ion-card>
                <ion-card class="servicecard ">
                    <a ui-sref="app.gurukulams">
                        <img src="img/home-serv-gurukulams.png" width="100% ">
                        <ion-card-content>
                            <p>Gurukulams</p>
                        </ion-card-content>
                    </a>
                </ion-card>
                <ion-card class="servicecard ">
                    <a ui-sref="app.nethravidyalaya">
                        <img src="img/home-serv-nethra.png" width="100% ">
                        <ion-card-content>
                            <p>Nethra Vidyalaya</p>
                        </ion-card-content>
                    </a>
                </ion-card>
                <ion-card class="servicecard ">
                    <a ui-sref="app.gosala">
                        <img src="img/home-serv-gosala.png" width="100% ">
                        <ion-card-content>
                            <p>Gosala</p>
                        </ion-card-content>
                    </a>
                </ion-card>
                <ion-card class="servicecard ">
                    <a ui-sref="app.priest">
                        <img src="img/home-serv-ps.png" width="100% ">
                        <ion-card-content>
                            <p>Priest Services</p>
                        </ion-card-content>
                    </a>
                </ion-card>
            </div>
            <ion-list class="videolist">
                <div class="card">
                    <h2 class="heading_title ">Upcoming project <br/><b>STATUE OF EQUALITY</b></h2>
                    <ion-item>
                        <div class="video-container ">
                            <iframe src="https://www.youtube.com/embed/Zkr8-y0pFAQ" frameborder="0 " width="100%
                         " height="200px"></iframe>
                            <p style="text-align: center">Statue Of Equality walkthrough</p>
                        </div>
                    </ion-item>
                </div>
            </ion-list>
            <div class="list subscribe_item_div">
                <span class="sucscribe_title" style="padding-left: 30px;">Subscribe to get latest event updates:</span>
                <div class="item item-input-inset subscribe_item ">
                    <label class="item item-input-wrapper ">		
                <input type="text " placeholder="Enter your email id ">
                </label>
                    <button class="button subscribebtn ">Subscribe</button>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap abouttext">
                    <p>JET UK is a registered (1139951) Charity Non-Profit organization which is committed to improving human lives through "Education, Service and Ancient Wisdom". For over three decades, we have been providing charitable and philanthropic services....
                    </p>
                    <a ui-sref="app.aboutus">Read more</a>
                </div>
            </div>
        </ion-content>

    <ion-footer-bar align-title="center " class="bar-dark ">
        <div class="buttons ">
        </div>

        <a class="shareemail" ui-sref="app.share">Share</a>
        <span style="padding-top: 5px;">&nbsp;     JETUK &copy All Rights Reserved, 2017 </span>
        <div class="buttons" ng-click="doSomething()">
        </div>
    </ion-footer-bar>

</ion-view>