<ion-view view-title="About Us">
    <ion-nav-title view-title="" center>
        <div id="hometitle">ACHARYA<img alt="logo" class="guru" height="40" src="img\swamy.jpg"></div>

    </ion-nav-title>

    <div class="bar bar-subheader bar-assertive">
        <ul class="sub_nav">
            <li class="sub_nav"><a ui-sref="app.home">Home</a></li>
            <li class="sub_nav"><a ui-sref="app.event">Events & Alerts</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/donations/')">Donate</a></li>
            
            <li class="sub_nav">
                <a href="mailto:srinivas.n27@gmail.com?subject=FEEDBACK&body='' ">Feedback</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/live/')">Live</a></li>
        </ul>

    </div>

    <ion-content class="navpage aboutus ">
        <ion-list>
            <a href="# " class="viewall navheading ">Live Page</a>
        </ion-list>
        Live Page

    </ion-content>
</ion-view>


<ion-footer-bar align-title="center " class="bar-dark ">
    <div class="buttons ">

    </div>
    <h1 class="title footerrights " align-title="center ">&copy All Rights Reserved, 2017 </h1>
    <a class="shareemail " ui-sref="app.share">Share</a>
    <div class="buttons" ng-click="doSomething()">

    </div>
</ion-footer-bar>