<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">

        <ion-content class="navbg">
            <img src="img\nav_banner.jpg" width="100%" />
            <ion-list class="navli">

                <ion-item menu-close href="#/app/home">
                    <label class="ion-ios-home">Home</label>
                </ion-item>
                <ion-item menu-close href="#/app/statueofequality">
                    <label class="ion-android-contacts">Statue of Equality</label>
                </ion-item>
                <ion-item menu-close href="#/app/priest">
                    <label class="ion-ios-medical">Priest Services Booking</label>
                </ion-item>
                <ion-item menu-close href="#/app/prajna">
                    <label class="ion-egg">Prajna</label>
                </ion-item>
                <ion-item menu-close href="#/app/home">
                    <label class="ion-calendar">Panchangam</label>
                </ion-item>
                <ion-item menu-close href="#/app/faqs">
                    <label class="ion-help-circled">FAQs</label>
                </ion-item>
                <ion-item menu-close href="#/app/aboutus">
                    <label class="ion-android-contacts">About JETUK</label>
                </ion-item>
                <ion-item menu-close href="#/app/more">
                    <label class="ion-android-contacts">More...</label>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>