<ion-view view-title="About Us">
    <ion-nav-title view-title="" center>
        <div id="hometitle">ACHARYA<img alt="logo" class="guru" height="40" src="img\AcharyaLogo.png"></div>

    </ion-nav-title>

    <div class="bar bar-subheader bar-assertive">
        <ul class="sub_nav">
            <li class="sub_nav"><a ui-sref="app.home" class="active">Home</a></li>
            <li class="sub_nav"><a ui-sref="app.event">Events & Alerts</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/donations/')">Donate</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/live/')">Live</a></li>
        </ul>
    </div>
    <ion-content class="navpage aboutus">
        <ion-list>
            <a ui-sref="app.home" class="viewall navheading">Nethra Vidyalaya School, Vijayanagaram</a>
        </ion-list>
        <p>
            <img src="img/Nethra Vidyalaya-1.jpg" width="100%" />
            <ul style="text-align: justify;">
                <li>Nethra Vidyalaya School was established in July 2001 at Vizianagaram with 16 visually challenged students to provide education for the blind. Started small, today there are more than 80 students in class I to class X in Varija near Visakhapatnam.
                </li>
                <li>The school is now located at JET Varija Asram, Vishakapatnam since 2013 June 12th, 2013.<a href="#" ng-click="openUrl('http://www.nethravidyalaya.org/blind-school-for-all/')">Read More...</a></li>
            </ul>
            <div style="text-align: center">
                <a href="#" ng-click="openUrl('http://www.jetuk.org/donations')"><img class="jetuk-button" style="background-color:white" src="img\DoanteNow.png" /></a>
            </div>
        </p>
    </ion-content>
</ion-view>
<ion-footer-bar align-title="center " class="bar-dark ">
    <div class="buttons ">
    </div>
    <a class="shareemail " ui-sref="app.share">Share</a>
    <span style="padding-top: 5px;">&nbsp;     JETUK &copy All Rights Reserved, 2017 </span>
    <div class="buttons" ng-click="doSomething()">
    </div>
</ion-footer-bar>