<ion-view view-title="About Us">
    <ion-nav-title view-title="" center>
        <div id="hometitle">ACHARYA<img alt="logo" class="guru" height="40" src="img\AcharyaLogo.png"></div>

    </ion-nav-title>

    <div class="bar bar-subheader bar-assertive">
        <ul class="sub_nav">
            <li class="sub_nav"><a ui-sref="app.home" class="active">Home</a></li>
            <li class="sub_nav"><a ui-sref="app.event">Events & Alerts</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/donations/')">Donate</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/live/')">Live</a></li>
        </ul>
    </div>
    <ion-content class="navpage aboutus">
        <ion-list>
            <a href="#" class="viewall navheading">Nethra Vidyalaya</a>
        </ion-list>

        <p><img class="abtusimg" src="img/home-serv-nethra.png" align="left" style="padding-right:10px;" width="100"></p>
        <p><b>EDUCATION FOR BLIND</b></p>
        <p style="text-align: justify;">Nethra Vidyalaya provides education from primary level to high school, junior & senior college, where hundreds of blind students are benefiting every year.<br/> <br/> Nethra Vidyalaya is unique in that students are trained to write their Intermediate
            board exams and Degree exams on laptops without the help of scribes (helpers). This education system is the first and unique in India where the state government recognized and permitted the students to write their exams on laptops. <br/> <br/>            <img src="img/Nethra Vidyalaya.jpg" width="100%" /> <br/> <br/> JET provides FREE boarding, lodging, food, study material, education for the blind etc.., to all communities irrespective of religion, caste, colour and gender.
        </p>

        <div style="text-align: center"><a href="#/app/allnethravidyalayas"><button class="jetuk-button button2">Our Nethra Vidyalaya Institutions</button></a></div>

        <div style="text-align: center">
            <a href="#" ng-click="openUrl('http://www.jetuk.org/donations')"><img class="jetuk-button" style="background-color:white" src="img\DoanteNow.png" /></a>
        </div>
    </ion-content>
</ion-view>
<ion-footer-bar align-title="center " class="bar-dark ">
    <div class="buttons ">
    </div>
    <a class="shareemail" ui-sref="app.share">Share</a>
    <span style="padding-top: 5px;">&nbsp;     JETUK &copy All Rights Reserved, 2017 </span>
    <div class="buttons" ng-click="doSomething()">
    </div>
</ion-footer-bar>