<ion-view view-title="About Us">
    <ion-nav-title view-title="" center>
        <div id="hometitle">ACHARYA<img alt="logo" class="guru" height="40" src="img\AcharyaLogo.png"></div>
    </ion-nav-title>
    <div class="bar bar-subheader bar-assertive">
        <ul class="sub_nav">
            <li class="sub_nav"><a ui-sref="app.home" class="active">Home</a></li>
            <li class="sub_nav"><a ui-sref="app.event">Events & Alerts</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/donations/')">Donate</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/live/')">Live</a></li>
        </ul>
    </div>
    <ion-content class="navpage aboutus">
        <ion-list>
            <a href="#" class="viewall navheading">Panchangam</a>
        </ion-list>

        <div style="text-align: center"><a ui-sref="app.panchangamcurrentyear"><button class="jetuk-button button2">2017-18</button></a></div>
        <div style="text-align: center"><a ui-sref="app.panchangampreviousyear"><button class="jetuk-button button2">2016-17</button></a></div>

    </ion-content>
</ion-view>
<ion-footer-bar align-title="center " class="bar-dark ">
    <div class="buttons ">
    </div>
    <a class="shareemail " ui-sref="app.share">Share</a>
    <span style="padding-top: 5px;">&nbsp;     JETUK &copy All Rights Reserved, 2017 </span>
    <div class="buttons" ng-click="doSomething()">
    </div>
</ion-footer-bar>