<ion-view view-title="About Us">
    <ion-nav-title view-title="" center>
        <div id="hometitle">ACHARYA<img alt="logo" class="guru" height="40" src="img\AcharyaLogo.png"></div>
    </ion-nav-title>
    <div class="bar bar-subheader bar-assertive">
        <ul class="sub_nav">
            <li class="sub_nav"><a ui-sref="app.home" class="active">Home</a></li>
            <li class="sub_nav"><a ui-sref="app.event">Events & Alerts</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/donations/')">Donate</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/live/')">Live</a></li>
        </ul>
    </div>
    <ion-content class="navpage aboutus">
        <ion-list>
            <a href="#" class="viewall navheading">Panchangam</a>
        </ion-list>

        <p><img src="img\panchangam\previousyear\Panchangam_2016-17-1.jpg " width="100%" />
            <img src="img\panchangam\previousyear\Panchangam_2016-17-2.jpg " width="100%" />
            <img src="img\panchangam\previousyear\Panchangam_2016-17-3.jpg " width="100%" />
            <img src="img\panchangam\previousyear\Panchangam_2016-17-4.jpg " width="100%" />
            <img src="img\panchangam\previousyear\Panchangam_2016-17-5.jpg " width="100%" />
            <img src="img\panchangam\previousyear\Panchangam_2016-17-6.jpg " width="100%" />
            <img src="img\panchangam\previousyear\Panchangam_2016-17-7.jpg " width="100%" />
            <img src="img\panchangam\previousyear\Panchangam_2016-17-8.jpg " width="100%" />
            <img src="img\panchangam\previousyear\Panchangam_2016-17-9.jpg " width="100%" />
            <img src="img\panchangam\previousyear\Panchangam_2016-17-10.jpg " width="100%" />
            <img src="img\panchangam\previousyear\Panchangam_2016-17-11.jpg " width="100%" />
            <img src="img\panchangam\previousyear\Panchangam_2016-17-12.jpg " width="100%" />
            <img src="img\panchangam\previousyear\Panchangam_2016-17-13.jpg " width="100%" />
            <img src="img\panchangam\previousyear\Panchangam_2016-17-14.jpg " width="100%" />
            <img src="img\panchangam\previousyear\Panchangam_2016-17-15.jpg " width="100%" />
            <img src="img\panchangam\previousyear\Panchangam_2016-17-16.jpg " width="100%" />
            <img src="img\panchangam\previousyear\Panchangam_2016-17-17.jpg " width="100%" />
            <img src="img\panchangam\previousyear\Panchangam_2016-17-18.jpg " width="100%" />
            <img src="img\panchangam\previousyear\Panchangam_2016-17-19.jpg " width="100%" />
            <img src="img\panchangam\previousyear\Panchangam_2016-17-20.jpg " width="100%" />
            <img src="img\panchangam\previousyear\Panchangam_2016-17-21.jpg " width="100%" />
            <img src="img\panchangam\previousyear\Panchangam_2016-17-22.jpg " width="100%" />
            <img src="img\panchangam\previousyear\Panchangam_2016-17-23.jpg " width="100%" />
            <img src="img\panchangam\previousyear\Panchangam_2016-17-24.jpg " width="100%" />
            <img src="img\panchangam\previousyear\Panchangam_2016-17-25.jpg " width="100%" />
        </p>

    </ion-content>
</ion-view>
<ion-footer-bar align-title="center " class="bar-dark ">
    <div class="buttons ">
    </div>
    <a class="shareemail " ui-sref="app.share">Share</a>
    <span style="padding-top: 5px;">&nbsp;     JETUK &copy All Rights Reserved, 2017 </span>
    <div class="buttons" ng-click="doSomething()">
    </div>
</ion-footer-bar>