<ion-view view-title="About Us">
    <ion-nav-title view-title="" center>
        <div id="hometitle">ACHARYA<img alt="logo" class="guru" height="40" src="img\AcharyaLogo.png"></div>
    </ion-nav-title>

    <div class="bar bar-subheader bar-assertive">
        <ul class="sub_nav">
            <li class="sub_nav"><a ui-sref="app.home" class="active">Home</a></li>
            <li class="sub_nav"><a ui-sref="app.event">Events & Alerts</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/donations/')">Donate</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/live/')">Live</a></li>
        </ul>
    </div>
    <ion-content class="navpage aboutus">
        <ion-list>
            <a href="#" class="viewall navheading">Prajna</a>
        </ion-list>
        <img src="img\prajna.jpg " width="100%" />
        <p style="text-align: justify">Vedic knowledge and our culture has been preserved for millions of years by our Acharyas and Rishis, unfortunately which is lost in today's day and age. </p>
        <p style="text-align: justify">Vedic knowledge is eternal and free from distortions. Vedas educate us in dharma, artha, kama and moksha. They answer questions like-
            <ul>
                <li>What is the goal of human life ?</li>
                <li>What should one realise from life and its existence?</li>
                <li>What are the responsibilities and duties in our life ?</li>
            </ul>
        </p>
        <p style="text-align: justify">Lack of answers to many more questions and without realising whom to ask, leads to confusion about us and the society around us. Vedas laid a foundation to the understanding of simple living and higher thinking.</p>
        <p style="text-align: justify">Prajna means " transforming good knowledge into action". Prajna is a series of classes compiled by great scholars under the guidance of His Holiness Sri Sri Sri Chinna Jeeyar Swamiji. Prajna is designed for easy understanding for first time learners
            about Vedas and our culture.</p>
        <div style="text-align: center"><a ui-sref="app.prajnaSloka"><button class="jetuk-button button2">Slokas</button></a></div>    
        <div style="text-align: center"><a ui-sref="app.prajnastudent"><button class="jetuk-button button2">Register as Student</button></a></div>
        <div style="text-align: center"><a ui-sref="app.prajnateacher"><button class="jetuk-button button2">Register as Teacher</button></a></div>
        <br/>
        <img src="img\Ramanuja-Sahasrabdi-View10.jpg " width="100%" />
    </ion-content>

</ion-view>
<ion-footer-bar align-title="center " class="bar-dark ">
    <div class="buttons ">
    </div>
    <a class="shareemail " ui-sref="app.share">Share</a>
    <span style="padding-top: 5px;">&nbsp;     JETUK &copy All Rights Reserved, 2017 </span>
    <div class="buttons" ng-click="doSomething()">
    </div>
</ion-footer-bar>