<ion-view view-title="About Us">
    <ion-nav-title view-title="" center>
        <div id="hometitle">JETUK - ACHARYA<img alt="logo" class="guru" height="40" src="img\AcharyaLogo.png"></div>

    </ion-nav-title>

    <div class="bar bar-subheader bar-assertive">
        <ul class="sub_nav">
            <li class="sub_nav"><a href="#" class="active">Home</a></li>
            <li class="sub_nav"><a ui-sref="app.event">Events & Alerts</a></li>
            <li class="sub_nav"><a href="https://jetuk.org/donations/">Donate</a></li>
            <li class="sub_nav"><a href="https://jetuk.org/live/">Live</a></li>
        </ul>
    </div>
    <ion-content class="navpage aboutus">
        <ion-list>
            <a href="#" class="viewall navheading">Priest Services Booking</a>
        </ion-list>

        <h2>Steps to book your appointment</h2>
        <p>
            1. Select the service(s) / pooja(s) and click Next <br/>2. Select the date you want and click Next(If the dates are already booked you will not be allowed to choose the same) <br/>3. Login with your Facebook account or create a new user with
            us with a valid emailID so that we send the service confirmation(s) <br/> 4. Click the confirmation button to show the total cost <br/>5. You need to transfer the amount to the following account with the following reference: <br/> <b style="color: darkblue">Sort Code:
            402 502 <br/>Acct No: 6251 6217 <br/>Acct Name: Jeeyar Educational Trust UK <br/>Reference: PriestServices. </b> <br/> 6. You can as well share your appointment(s) with your family and friends on your social media <br/> 7. You can CANCEL the
            appointment 1 day before the scheduled date with out any charges <br/> 8. You can CANCEL your appointment by visiting back to our website and logging in with your user ID and under “My Appointments” you can cancel.
        </p>

        <div style="text-align: center"><a ng-click="openUrl('https://jetuk.appointy.com/')'"><button class="jetuk-button button2">Book Service</button></a></div>
        <br/>
        <img src="img\Ramanuja-Sahasrabdi-View10.jpg " width="100%" />

    </ion-content>
</ion-view>


<ion-footer-bar align-title="center" class="bar-dark">
    <div class="buttons">

    </div>
    <h1 class="title footerrights" align-title="center">&copy All Rights Reserved, 2017 </h1>
    <a class="shareemail" href="mailto:info@jetuk.org?subject=ACHARYA - JETUK Mobile App&body=Namaste,%0A I just downloaded ACHARYA on my smart phone.%0A This is an one stop shop app for all needs of multilingual Discourses, offline functionality, Download feature of Devotional Audios and Slokas recitation, Videos, Ekadasi reminders, Calendar, and many other useful things to learn about our tradition.%0A
ACHARYA is available for iPhone, Android and Widows phone and more over it's FREE of cost.%0A You can get it now from htts://jetuk.org/ACHARYA. Or else you can reach on info@jetuk.org">Share</a>
    <div class="buttons" ng-click="doSomething()">

    </div>
</ion-footer-bar>