<ion-view view-title="About Us">
    <ion-nav-title view-title="" center>
        <div id="hometitle">ACHARYA<img alt="logo" class="guru" height="40" src="img\AcharyaLogo.png"></div>

    </ion-nav-title>

    <div class="bar bar-subheader bar-assertive">
        <ul class="sub_nav">
            <li class="sub_nav"><a ui-sref="app.home" class="active">Home</a></li>
            <li class="sub_nav"><a ui-sref="app.event">Events & Alerts</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/donations/')">Donate</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/live/')">Live</a></li>
        </ul>
    </div>
    <ion-content class="navpage aboutus">
        <ion-list>
            <a href="#" class="viewall navheading">Priest Service Booking</a>
        </ion-list>

        <h2>Steps to book your appointment</h2>
        <p style="text-align: justify;">
            1. Select the service(s) / pooja(s) and click Next <br/>2. Select the date you want and click Next(If the dates are already booked you will not be allowed to choose the same) <br/>3. Login with your Facebook account or create a new user with
            us with a valid emailID so that we send the service confirmation(s) <br/> 4. Click the confirmation button to show the total cost <br/>5. You need to transfer the amount to the following account with the following reference: <br/> <b style="color: darkblue">Sort Code:
            402 502 <br/>Acct No: 6251 6217 <br/>Acct Name: Jeeyar Educational Trust UK <br/>Reference: PriestServices. </b> <br/> 6. You can as well share your appointment(s) with your family and friends on your social media <br/> 7. You can CANCEL the
            appointment 1 day before the scheduled date with out any charges <br/> 8. You can CANCEL your appointment by visiting back to our website and logging in with your user ID and under “My Appointments” you can cancel.
        </p>
        <p><b>Note: Available only to residents of United Kingdom</b></p>    
        <div style="text-align: center"><a href="#" ng-click="openUrl('https://jetuk.appointy.com/')"><button class="jetuk-button button2">Book Service</button></a></div>
        <br/>
        <img src="img\Ramanuja-Sahasrabdi-View10.jpg " width="100%" />
    </ion-content>
</ion-view>
<ion-footer-bar align-title="center " class="bar-dark ">
    <div class="buttons ">
    </div>

    <a class="shareemail " ui-sref="app.share">Share</a>
    <span style="padding-top: 5px;">&nbsp;     JETUK &copy All Rights Reserved, 2017 </span>
    <div class="buttons" ng-click="doSomething()">
    </div>
</ion-footer-bar>