<ion-view view-title="About Us">
    <ion-nav-title view-title="" center>
        <div id="hometitle">ACHARYA<img alt="logo" class="guru" height="40" src="img\AcharyaLogo.png"></div>

    </ion-nav-title>

    <div class="bar bar-subheader bar-assertive">
        <ul class="sub_nav">
            <li class="sub_nav"><a href="#" class="active">Home</a></li>
            <li class="sub_nav"><a ui-sref="app.event">Events & Alerts</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/donations/')">Donate</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/live/')">Live</a></li>
        </ul>
    </div>
    <ion-content class="navpage aboutus">
        <div class="item">
            <div><span  class="viewall navheading"><h3>{{selectedSloka[0].title}}</h3>  <span style="font-size:10pt">{{dynamicTrack.artist}}</span></span>
            
            </div>    <!-- <ion-select id="lang-select" on-change="onlanguageChange">
                <ion-option value="en">English</ion-option>
                <ion-option value="ta">Tamil</ion-option>
                <ion-option value="te">Telugu</ion-option>
            </ion-select> -->
            <div class="jet-select"><span>Select Language : </span><select class="ion-input-select" ng-model="lang" 
            ng-options="lang.text for lang in options" ng-change="onlanguageChange(lang)">
     
</select></div>
            <ion-audio-track track="dynamicTrack" toggle-playback="togglePlayback" ng-if="dynamicTrack">
          <div class="list list-inset">
              
                 
                  
                  
             
              <div class="jet-audio-panel">
                  <ion-audio-controls style="width:40%">
                        <a class="button button-icon icon" ion-audio-play></a>
                        <ion-spinner icon="ios"></ion-spinner>
                    </ion-audio-controls>
                <ion-audio-progress-bar style="width:50%" track="dynamicTrack" display-time></ion-audio-progress-bar>
              </div>
          </div>
      </ion-audio-track>
        <div class="slokaContent">
                <ion-scroll zooming="true" direction="xy" style="width: 100%; ">
        <div class="slokaText item-text-wrap">
                <ion-list ng-repeat="item in slokaText.items">
                    <p>{{item.text}}</p>
                </ion-list>
        </div>
    </ion-scroll>
        </div>   
        
        
        
        </div>
    </ion-content>
    <ion-footer-bar align-title="center " class="bar-dark ">
        <div class="buttons ">
        </div>

        <a class="shareemail " ui-sref="app.share">Share</a>
        <span style="padding-top: 5px;">&nbsp;     JETUK &copy All Rights Reserved, 2017 </span>
        <div class="buttons" ng-click="doSomething()">
        </div>
    </ion-footer-bar>
</ion-view>