<ion-view view-title="About Us">
    <ion-nav-title view-title="" center>
        <div id="hometitle">ACHARYA<img alt="logo" class="guru" height="40" src="img\AcharyaLogo.png"></div>

    </ion-nav-title>

    <div class="bar bar-subheader bar-assertive">
        <ul class="sub_nav">
            <li class="sub_nav"><a ui-sref="app.home" class="active">Home</a></li>
            <li class="sub_nav"><a ui-sref="app.event">Events & Alerts</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/donations/')">Donate</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/live/')">Live</a></li>
        </ul>
    </div>
    <ion-content class="navpage aboutus">
        <ion-list>
            <a href="#" class="viewall navheading">JIVA,Shamshabad</a>
        </ion-list>
        <p>
            <img src="img\vedic-school-1.jpg " width="100%" />
            <ul style="text-align: justify;">
                <li>Jeeyar Integrated Vedic Academy (JIVA) Gurukulam mission is to provide the essence of Vedic knowledge to the interested people irrespective of nationality, religion, caste or race. JIVA Gurukulam started its first Foundation Course on
                    the occasion of centenary celebrations of HH Sri Pedda Jeeyar Swamiji in June 2nd, 2009 in the premises of Sri Ramanagar, Shamshabad.</li>
                <li>All our Vedic schools provide FREE food, clothing, education, excursions and other academic activities. <a href="#" ng-click="openUrl('http://chinnajeeyar.guru/vedicschools/jiva/')">Read More....</a></li>
            </ul>
            <div style="text-align: center">
                <a href="#" ng-click="openUrl('http://www.jetuk.org/donations')"><img class="jetuk-button" style="background-color:white" src="img\DoanteNow.png" /></a>
            </div>
        </p>
    </ion-content>
</ion-view>
<ion-footer-bar align-title="center " class="bar-dark ">
    <div class="buttons ">
    </div>
    <a class="shareemail " ui-sref="app.share">Share</a>
    <span style="padding-top: 5px;">&nbsp;     JETUK &copy All Rights Reserved, 2017 </span>
    <div class="buttons" ng-click="doSomething()">
    </div>
</ion-footer-bar>