<ion-view view-title="About Us">
    <ion-nav-title view-title="" center>
        <div id="hometitle">ACHARYA<img alt="logo" class="guru" height="40" src="img\AcharyaLogo.png"></div>

    </ion-nav-title>

    <div class="bar bar-subheader bar-assertive">
        <ul class="sub_nav">
            <li class="sub_nav"><a ui-sref="app.home" class="active">Home</a></li>
            <li class="sub_nav"><a ui-sref="app.event">Events & Alerts</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/donations/')">Donate</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/live/')">Live</a></li>
        </ul>
    </div>
    <ion-content class="navpage aboutus">
        <ion-list>
            <a href="#" class="viewall navheading">Songs</a>
        </ion-list>
        <ion-audio-track track="dynamicTrack" toggle-playback="togglePlayback" ng-if="dynamicTrack">
                <div class="list list-inset">
                    <span><h4>{{dynamicTrack.title}}</h4></span>
                    <div class="jet-audio-panel">
                        <ion-audio-controls style="width:40%">
                              <a class="button button-icon icon" ion-audio-play></a>
                              <ion-spinner icon="ios"></ion-spinner>
                          </ion-audio-controls>
                      <ion-audio-progress-bar style="width:50%" track="dynamicTrack" display-time></ion-audio-progress-bar>
                    </div>
                </div>
            </ion-audio-track>
        <ion-list class="eventList" ng-repeat="track in tracks">
                <div class="slokasContainer">
                        <a href="" ng-click="playTrack({{track.index}})" class="songLink">
                <ion-item class="discourseCard">
                        
                            <span><h4>{{track.title}}</h4></span>
                        
                        
                    <!-- </div> -->
                </ion-item>
            </a>
                </div>
                <!-- <a href="#" ng-click="sendEmail()">send Email</a> -->
           
        </ion-list>
    </ion-content>
</ion-view>


<ion-footer-bar align-title="center " class="bar-dark ">
    <div class="buttons ">
    </div>

    <a class="shareemail" ui-sref="app.share">Share</a>
    <span style="padding-top: 5px;">&nbsp;     JETUK &copy All Rights Reserved, 2017 </span>
    <div class="buttons" ng-click="doSomething()">
    </div>
</ion-footer-bar>