<ion-view view-title="About Us">
    <ion-nav-title view-title="" center>
        <div id="hometitle">ACHARYA<img alt="logo" class="guru" height="40" src="img\swamy.jpg"></div>

    </ion-nav-title>

    <div class="bar bar-subheader bar-assertive">
        <ul class="sub_nav">
            <li class="sub_nav"><a ui-sref="app.home" class="active">Home</a></li>
            <li class="sub_nav"><a ui-sref="app.event">Events & Alerts</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/donations/')">Donate</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/live/')">Live</a></li>
        </ul>

    </div>

    <ion-content class="navpage">
        <ion-list>
            <a href="#" class="viewall navheading">Star Birth Based Slokas</a>
        </ion-list>
        <div class="card sloasdiv">
            <h3 style="text-align: center">Jai Srimannarayana</h3>
            <h4 style="text-align: center"><i>"Daivadeenam Jagath Sarvam, Mantradeenamtu daivatam"</i></h4>
            <p>The entire universe is under the control of the supreme lord and the lord bows for mantram. The thing that protects the one who chants the name is called “Mantram”. There are 1000 such names which you can chant… that is Vishnu Sahasranamam
                (1000 names). Incase if you don't have time to read the entire 1000 names i.e 108 slokas at least you can read the 4 slokas that belongs to your star. Each start has 4 paadams and there are 27 stars. So total of 27 x 4 = 108 slokas.
            </p>
            <ion-list class="eventList" ng-repeat="event in slokas">
                <div class="slokasContainer">
                    <ion-item class="discourseCard">
                    
                         
                         <a ui-sref="app.sbIndex({key: event.key})">
                            <span><h4>{{event.title}}</h4></span>
                        </a>
                    </ion-item>
                    </div>   
                
            </ion-list>

        </div>

    </ion-content>
</ion-view>
<ion-footer-bar align-title="center " class="bar-dark ">
    <div class="buttons ">
    </div>

    <a class="shareemail" ui-sref="app.share">Share</a>
    <span style="padding-top: 5px;">&nbsp;     JETUK &copy All Rights Reserved, 2017 </span>
    <div class="buttons" ng-click="doSomething()">
    </div>
</ion-footer-bar>