<ion-view view-title="About Us">
    <ion-nav-title view-title="" center>
        <div id="hometitle">ACHARYA<img alt="logo" class="guru" height="40" src="img\AcharyaLogo.png"></div>

    </ion-nav-title>

    <div class="bar bar-subheader bar-assertive">
        <ul class="sub_nav">
            <li class="sub_nav"><a ui-sref="app.home" class="active">Home</a></li>
            <li class="sub_nav"><a ui-sref="app.event">Events & Alerts</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/donations/')">Donate</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/live/')">Live</a></li>
        </ul>
    </div>
    <ion-content class="aboutus">
        <ion-list>
            <a href="#" class="viewall navheading">Statue of Equality</a>
        </ion-list>
        <p><img class="abtusimg" src="img/StatueOfEquality-Logo.jpg" align="left" style="padding-right:10px;" width="100"></p>
        <p><b>2017</b> is the Millennial birth year of Sri Bhagavad Ramanujacharya and the whole world is celebrating this year I.e YEAR OF EQUALITY.</p>
        <h2>Who is Ramanujacharya?</h2>
        <p>Sri Bhagawad Ramanujacharya Swami is considered as the first Acharya who devoted his entire life for the upliftment of the equality in the society. Born in 1017 AD, he had unquestioned faith in the validity of Vedas and Vedantas.<br/> He found
            records in our scriptures, the Bhagavad Githa, Srimad Ramayana, Puranas etc, which propagated the vision of equality needed across the world.</p>
        <h2>Ramanujacharya's message to the world:</h2>
        <ul>
            <li>Serve the society which is the universal form of God. Nobody is infallible. Do not humiliate anyone.
            </li>
            <li>Shed your ego. Love the fellow humans.</li>
            <li>What is of supreme importance is purity of mind and deed.</li>
            <li>The conquest of passion and attachment was the solution for the miseries of life.</li>
            <li>Promote the message of peace, love, worship, mutual respect, humility and selfless service to all beings.</li>

        </ul>
        <p>In this millennial birth year, Sri Chinna Jeeyar swamiji planned a great tribute to Bhagavad Ramanujacharya by constructing 216ft high Ramanujacharya's statue in Shamshabad, Hyderabad, Telangana, India. Please visit <a href="http://www.statueofequality.org">www.statueofequality.org</a>            for more details.</p>
        <img src="img\Ramanuja-Sahasrabdi-View10.jpg " width="100%" />
        <h2>Salient features of the project are:</h2>
        <ul>
            <li>216 feet high Statue </li>
            <li>Multilingual self audio guides</li>
            <li>108 Divya Desams around the statue</li>
            <li>Tallest ever Ramanujacharya statue</li>
            <li>Omni Max Theatre</li>
            <li>Meditation Hall and Library</li>
            <li>Musical Fountain showers</li>
            <li>18 Ft Hanuman and Garuda Statues</li>
            <li>Environment friendly features & Many more ...</li>
        </ul>
        <p>In this Kali Yuga, when all other efforts are of no use, he is the great Acharya and god showed us the true path!</br>
            Jai Ho Ramanuja!!</p>

        <div style="text-align: center"><a href="#" ng-click="openUrl('http://www.statueofequality.org/')"><button class="jetuk-button button2">Visit Statue Of Equality</button></a></div>

        <div style="text-align: center">
            <a href="#" ng-click="openUrl('http://www.jetuk.org/donations')"><img class="jetuk-button" style="background-color:white" src="img\DoanteNow.png" /></a>
        </div>
    </ion-content>

    <ion-footer-bar align-title="center " class="bar-dark ">
        <div class="buttons ">
        </div>
        <a class="shareemail " ui-sref="app.share">Share</a>
        <span style="padding-top: 5px;">&nbsp;     JETUK &copy All Rights Reserved, 2017 </span>
        <div class="buttons" ng-click="doSomething()">
        </div>
    </ion-footer-bar>
</ion-view>