<ion-view view-title="About Us">
    <ion-nav-title view-title="" center>
        <div id="hometitle">ACHARYA<img alt="logo" class="guru" height="40" src="img\AcharyaLogo.png"></div>

    </ion-nav-title>

    <div class="bar bar-subheader bar-assertive">
        <ul class="sub_nav">
            <li class="sub_nav"><a ui-sref="app.home" class="active">Home</a></li>
            <li class="sub_nav"><a ui-sref="app.event">Events & Alerts</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/donations/')">Donate</a></li>
            <li class="sub_nav"><a href="#" ng-click="openUrl('https://jetuk.org/live/')">Live</a></li>
        </ul>
    </div>
    <ion-content class="navpage aboutus">
        <ion-list>
            <a href="#" class="viewall navheading">Vedic Schools</a>
        </ion-list>

        <p><img class="abtusimg" src="img/home-serv-vedic.png" align="left" style="padding-right:10px;" width="100"></p>
        <p></p>
        <p<b>OUR VEDIC SCHOOLS ARE THE FOUNDATION FOR THE FUTURE</b>
            </p>
            <p class="abouttext">
                <ul style="text-align: justify;">
                    <li>Serve the society which is the universal form of God. Nobody is infallible. Do not humiliate anyone.
                    </li>
                    <li>They are great treasures of knowledge responsible for sustenance of this Universe. </li>
                    <li>Out of 1131 branches only 12 branches are available today and the remaining are lost. </li>
                    <li>6000 years ago Rig Veda had 21 parts, Yajur Veda had 101 parts, Samaveda had 1000 parts and Atharva Veda had 9 parts. At present Rig Veda has only 2 parts, Yajur Veda has only 4 parts, Samaveda has only 4 parts and Atharva veda has
                        only 2 parts left.</li>
                </ul>
                <br/>
                <img src="img/vedicshoool.jpg" width="100%" />
                <br/>
                <br/>
                <ul style="padding: 5px;" class="abouttext">
                    You can be part of saving the remaining treasure by
                    <li>Studying Vedas</li>
                    <li>Supporting one who is studying Vedas</li>
                    <li>Help in preserving by printing the manuscripts</li>
                </ul>
            </p>

            <div style="text-align: center"><a data-ng-href="#/app/allvedicschools"><button class="jetuk-button button2">Our Vedic Institutions</button></a></div>

            <div style="text-align: center">
                <a href="#" ng-click="openUrl('http://www.jetuk.org/donations')"><img class="jetuk-button" style="background-color:white" src="img\DoanteNow.png" /></a>
            </div>
    </ion-content>
</ion-view>
<ion-footer-bar align-title="center " class="bar-dark ">
    <div class="buttons ">
    </div>
    <a class="shareemail " ui-sref="app.share">Share</a>
        <span style="padding-top: 5px;">&nbsp;     JETUK &copy All Rights Reserved, 2017 </span>
    <div class="buttons" ng-click="doSomething()">
    </div>
</ion-footer-bar>